.admin-panel{
    display: flex;
    flex-direction: row;
    padding: 2rem 2rem 8rem;
    .sidebar{
        padding: 0rem 0rem 40rem;
    }

    .table{
        display: flex;
        flex-direction: column;
        flex: 1;
        .add{
            display: flex;
            justify-content: flex-end;
            padding: 0rem 0rem 2rem; 
        }
        table, th, td{
        
            color: #BB86FC;
            border: 1px solid black;
            border-collapse: collapse;
            padding: 1rem;
            text-align: center;
            background-color: #222222;
        }
    }      
}