.header{
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    height: 61px;
    z-index: 61;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.5rem 1rem;
    background-color: #222222;
    .sandwich {
        display: none;
    }
    .sandwich-button {
        display: none;
        z-index: 20;
    }

    a {
        text-decoration: none;
        position: relative;
        color: #BB86FC;
        border: none;
        font-size: 1.2rem;
        letter-spacing: 1px;
        transition: 300ms;
        
        &:hover {
            color: #2ed6ac;
        }
        

    }

    h1{
        position: relative;
        
        margin: 0;
        letter-spacing: 5px;
        transition: 500ms ease-in-out;
        transition-delay: 100ms;
    }
    .right {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        .MuiButton-outlined {
            border-color: #BB86FC !important;
        }
        .cart{
            position: relative;
            p {
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                color: #222222;
                margin: 0;
                bottom: -5px;
                right: -10px;
                background-color: #2ed6ac;
                border-radius: 50%;
                min-width: 1rem;
                min-height: 1rem;
                font-size: 0.8rem;
                font-weight: bold;
                padding: 0.1rem;
            }
        }
    }

    .left {
        display: flex;
        align-items: center;
        gap: 2rem;
    }
}

@media only screen and (max-width: 680px) {
    .header {
      h1 {
        font-size: 1.7rem;
      }
      .right {
        
        a {
          font-size: 1rem;
        }
      }
    }
}

@media only screen and (max-width: 480px) {
    .header {
      padding: 0;
      .sandwich {
        position: absolute;
        display: block;
        transform: scaleX(0);
        -webkit-transform: scaleX(0);
        opacity: 0;
        transform-origin: right;
        background-color: #222222;
        width: 100%;
        top: 0;
        height: 99%;
        transition: 300ms;
        .menu {
          padding-right: 3rem;
          height: 100%;
          max-width: 100%;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          a {
            flex: 0;
            position: relative;
            text-decoration: none;
            color: #BB86FC;
            background: none;
            border: none;
            font-size: 1.2rem;
            letter-spacing: 1px;
            transition: 300ms;
            &:hover {
              color: #2ed6ac;
            }
          }
          .cart {
            position: relative;
            p {
              display: flex;
              align-items: center;
              justify-content: center;
              position: absolute;
              margin: 0;
              bottom: -10px;
              right: -10px;
              border-radius: 50%;
              min-width: 1rem;
              min-height: 1rem;
              font-size: 0.8rem;
              font-weight: 400;
              color: #222222;
              padding: 0.1rem;
            }
          }
        }
      }
      .active {
        opacity: 1;
        transform: scaleX(1);
        -webkit-transform: scaleX(1);
       
      }
      .sandwich-button {
        position: relative;
        display: block;
        margin-right: 1rem;
        background: none;
        border: none;
        width: 2rem;
        height: 2rem;
        &::after,
        &::before {
          content: "";
          transition: 200ms;
          position: absolute;
          background-color: #BB86FC;
          top: 50%;
          left: 0;
          width: 100%;
          height: 2px;
          transform: translateY(-300%);
          -webkit-transform: translateY(-300%);
         
        }
        &::before {
          top: 50%;
          transform: translateY(300%);
          -webkit-transform: translateY(300%);
          
          bottom: 0;
        }
      }
      .sandwich-button.active {
        &::after,
        &::before {
          position: absolute;
          background-color: #BB86FC;
          width: 100%;
          height: 2px;
          transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          
        }
        &::before {
            transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
          transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
         
        }
      }
      h1 {
        font-size: 1.8rem;
        margin-left: 1rem;
      }
      .right {
        display: none;
      }
    }
  }