.header{
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    height: 61px;
    z-index: 61;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.5rem 1rem;
    background-color: #222222;

    a {
        text-decoration: none;
        position: relative;
        color: #BB86FC;
        border: none;
        font-size: 1.2rem;
        letter-spacing: 1px;
        transition: 300ms;
        
       
        &:after {
            display: none;
        }
        &:hover {
            color: #2ed6ac;
        }
        

    }

    h1{
        position: relative;
        
        margin: 0;
        letter-spacing: 5px;
        transition: 500ms ease-in-out;
        transition-delay: 100ms;
    }
    .right {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        .MuiButton-outlined {
            border-color: #BB86FC !important;
        }
        .cart{
            position: relative;
            p {
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                color: #222222;
                margin: 0;
                bottom: -5px;
                right: -10px;
                background-color: #2ed6ac;
                border-radius: 50%;
                min-width: 1rem;
                min-height: 1rem;
                font-size: 0.8rem;
                font-weight: bold;
                padding: 0.1rem;
            }
        }
    }

    .left {
        display: flex;
        align-items: center;
        gap: 2rem;
    }
}