.login{
    display: flex;
    box-sizing: border-box;
    padding: 8rem 2rem;
    justify-content: center;
    align-items: center;
    color: #BB86FC;
    .form{
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        align-items: center;
        width: 430px;
        padding: 4rem 0;
        position: relative;
        background: #222222;
        
        
        .inputs{
            display: flex;
            padding: 4rem 0;
            flex-direction: column;
            width: 80%;
            gap: 2rem;
            flex: 1;
            .MuiOutlinedInput-notchedOutline {
                border-color: #BB86FC !important;
                color: #BB86FC !important;
              }
            .input_label {
               color: #BB86FC !important; 
            }
            a {
                width: 80%;
                color: #BB86FC;
            }
            form{
                display: flex;
                flex-direction: column;
                gap: 2rem;
            }
            
            
        }
        h1{
            margin: 0;
            font-size: 3rem;
            font-weight: 100;
        }

        
    }
}

@media only screen and (max-width: 850px) {
    .login {
      padding: 2rem;
      .form {
        max-width: 90%;
      }
    }
  }
 
  