.store {
    display: flex;
    box-sizing: border-box;

    .products{
        display: flex;
        flex-direction: column;
        
        
        width: 100%;

        ul {
            padding: 2rem;
            display: flex;
            gap: 2rem;
            
            align-items: center;
            list-style: none;
            max-width: 70rem;
            flex-wrap: wrap;
            a{
                text-decoration: none;
                color: #BB86FC;
            }
            li {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .image-container{
                    position: relative;
                    background-color: darkgrey;
                    height: 15rem;
                    width: 20rem;
                    
                    margin-bottom: 0.5rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                p{
                    max-width: 20rem;
                    justify-self: flex-start;
                    align-self: flex-start;
                    margin: 0;
                    
                }
                .price {
                    height: 2.5rem;
                  }
                
            }
        }
    }

    .categories{
        display: flex;
        flex-direction: column;
        width: 20%;
        padding: 2rem 2rem 25rem 5rem;
        color: #BB86FC;
        h1{
            margin: 0;
        }
        h2{
            margin-bottom: 0;
        }
        ul{
            color: #BB86FC;
            list-style: none;
            padding: 0;
            li{
                &:hover {
                    cursor: pointer;
                }
                width: fit-content;
                font-size: 20px;
               
            }
        }
        
    }
    
}